body{
    height: 100vh;
    width: 100vw;
}
.Wait{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction : column;
}
.title_copy{
  --title_wd: 21vw;
  color: var(--titles);
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: lowercase;
  font-size: var(--font-tit-SIZE);
  font-weight: bold;
  font-family: var(--font-titles) !important ;
  -webkit-user-select: none;
  cursor: pointer;
  transform: translateY(20px);
    }
.loader_main {
    display: block;
    --height-of-loader: 4px;
    /* --loader-color: #0071e2; */
    width: 130px;
    height: var(--height-of-loader);
    border-radius: 30px;
    background-color: rgba(0,0,0,0.2);
    position: relative;
  }
  
  .loader_main::before {
    content: "";
    position: absolute;
    background: var(--second);
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    border-radius: 30px;
    animation: moving 1s ease-in-out infinite;
    ;
  }
  
  @keyframes moving {
    50% {
      width: 100%;
    }
  
    100% {
      width: 0;
      right: 0;
      left: unset;
    }
  }